*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.calc{
    height: 500px;
    width: 350px;
    /* background-color: aliceblue; */
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-evenly;
}

.calc input{
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 20px;
    outline: none;
    font-size: 30px;
}
.calc button{
    width: 20%;
    height: 60px;
    border-radius: 50%;
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 900;
    font-size: 20px;
}

#special{
    width: 45%;
    border-radius: 50px;
}

.main{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}